# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# Code editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj

# Node / Dependencies (if you host bot code here later)
node_modules/
npm-debug.log*

# Production build outputs / caches
.sass-cache/
*.log
